.site-header {
	width: 100%;
	background: {
		color: white;
	}
	@include box-shadow(0px 2px 4px rgba(0,0,0,0.4));
	@media screen and (min-width: $screen-sm-min) {
		background: {
			image: url('../img/header-multi-colors.png');
			repeat: no-repeat;
			size: 50%;
			position: bottom left;
		}
	}
	@media print {
		display: none;
	}
}
.header-inner {
	@extend .container;
}
.site-branding {
	@include make-row();
}
.site-title {
	@include make-sm-column(6);
	@include make-sm-column-offset(6);
	@include text-hide();
	padding-top: 19%;
	margin: {
		left: $grid-gutter-width;
		right: $grid-gutter-width;
	}
	background: {
		image: url('../img/header-tagline-logo.png');
		size: contain;
		repeat: no-repeat;
	}
	@media screen and (min-width: $screen-sm-min) {
		padding-top: 9.5%;
	}
}
.site-description {
	@extend .sr-only;
}

.site-footer {
	color: white;
	background-color: $brand-info;
	@media print {
		display: none;
	}
}
.footer-inner {
	@extend .container;
	padding: {
		top: 20px;
		bottom: 20px;
	}
}
.footer-branding {
	text-align: center;
	padding: {
		top: 10px;
		bottom: 10px;
	}
}
.footer-bottom {
	@include make-row();
}
.footer-legal, .footer-follow {
	@include make-sm-column(6);
	text-align: center;
	@media screen and (min-width: $screen-sm-min) {
		text-align: inherit;
	}
}
.copyright {
	margin-right: 20px;
}