.nav-pills .dropdown-menu a {
	background-color: #fff;
}
.nav-pills .dropdown-menu > .active > a {
	background-color: $brand-primary;
}

.main-navigation {
	@include clearfix();
	.menu {
		@include clearfix();
		margin-bottom: 10px;
	}
}
.main-navigation-list {
	@extend .nav, .nav-pills;
	a {
		font-weight: bold;
	}
	@media screen and (max-width: $screen-xs-max) {	
	  > li {
	    float: none;
	    + li {
	      margin-top: 2px;
	      margin-left: 0; // no need for this gap between nav items
	    }
	  }
	}
	@media screen and (min-width: $screen-sm-min) {
		float: right;
		display: inline-block;
		> li + li {
			margin-left: 10px;
		}
	}
}

.nav-pills a {
	background-color: #ccc;
	color: $text-color;
}

.menu-footer-list, .footer-legal-menu, .footer-follow-menu {
	@extend .list-inline;
	a {
		color: white;
	}
}
.menu-footer-list {
	text-align: center;
}
.footer-legal-menu {
	@media screen and (min-width: $screen-sm-min) {
		display: inline-block;
	}
	margin-top: 10px;
}
.footer-follow-menu {
	margin-top: 10px;
	@media screen and (max-width: $screen-xs-max) {
		display: inline-block;
		margin: {
			left: auto;
			right: auto;
		}
	}
	@media screen and (min-width: $screen-sm-min) {
		float: right;
	}
	a {
		@include text-hide();
		display: inline-block;
		height: 20px;
		width: 20px;
		vertical-align: top;
		background: {
			image: url('../img/follow.png');
		}
	}
	li {
		height: 20px;
		&.linkedin a {
			background-position: 0px top;
			&:hover, &:active {
				background-position: 0px bottom;
			}
		}
		&.youtube a {
			background-position: 191px top;
			&:hover, &:active {
				background-position: 191px bottom;
			}
		}
		&.twitter a {
			background-position: 171px top;
			&:hover, &:active {
				background-position: 171px bottom;
			}
		}
		&.xing a {
			background-position: 151px top;
			&:hover, &:active {
				background-position: 151px bottom;
			}
		}
		&.facebook a {
			background-position: 131px top;
			&:hover, &:active {
				background-position: 131px bottom;
			}
		}
		&.contact a {
			width: 96px;
			background-position: right top;
			&:hover, &:active {
				background-position: right bottom;
			}
		}
	}
}

.nav-links {
	@extend .pager;
}

.main-navigation-list .bp-login-nav a {
	background-color: #ec8922;
	color: #fff;
	&:hover, &:focus, &:active {
		background-color: darken(#ec8922, 5%);
	}
}