.main-navigation {
	@include make-row();
	.menu {
		@include make-sm-column(6);
		@include make-sm-column-offset(6);
		margin-bottom: 10px;
	}
}
.main-navigation-list {
	@extend .nav, .nav-pills;
	a {
		font-weight: bold;
	}
	@media screen and (max-width: $screen-xs-max) {	
	  > li {
	    float: none;
	    + li {
	      margin-top: 2px;
	      margin-left: 0; // no need for this gap between nav items
	    }
	  }
	}
	@media screen and (min-width: $screen-sm-min) {
		float: right;
		display: inline-block;
		> li + li {
			margin-left: 25px;
		}
	}
}

.nav-pills a {
	background-color: #ccc;
	color: $text-color;
}

.menu-footer-list {
	@extend .list-inline;
	text-align: center;
	a {
		color: white;
	}
}